{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ title }}</legend>
                <div class="form-group">
                    {{ form.search.label(class="form-control-label") }}
                    {% if form.search.errors %}
                        {{ form.search(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.search.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.search(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
        </fieldset>
        <button><a class="button" type="button" href="{{ url_for('medicals.insert_medical') }}">Insert Medical</a></button>

        <div class="table"><table>
            <tr class="table-header">
                {% for header in headers %}
                    <th class="table-cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
                <div class="table-row"><tr>
                    <ul>
                    {% for cell in row %}
                        <td class="table-cell"> {{cell}} </td>
                    {% endfor %}
                    <td><a href="{{ url_for('medicals.update_medical', medical_id = row[0]) }}">Update</a></td>
                    <td><a href="{{ url_for('medicals.del_medical', medical_id = row[0]) }}">Delete</a></td>
                    </ul>
                </tr>

            {% endfor %}
            </div>
        </table>
        {% for page in pages.iter_pages(left_edge=2, right_edge=2) %}
            {% if page %}
                {% if search %}
                <a class="button" type="button" href="{{ url_for('medicals.search_medical', page_num = page) }}">{{ page }}</a>
                {% else %}
                <a class="button" type="button" href="{{ url_for('medicals.show_all_medical', page_num = page) }}">{{ page }}</a>
                {% endif %}
            {% else %}
            ...
            {% endif %}
        {% endfor %}
        </div>
    </form>
    </div>
{% endblock content %}