{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
        <legend class="border-bottom mb-4">Insert Role</legend>
        <button><a class="button" type="button" href="{{ url_for('managers.insert_role') }}">Insert Role</a></button>
        <div class="table"><table>
            <tr class="table-header">
                {% for header in headers %}
                    <th class="table-cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
                <div class="table-row"><tr>
                    <ul>
                    {% for cell in row %}
                        <td class="table-cell"> {{cell}} </td>
                    {% endfor %}
                    <td><a href="{{ url_for('managers.update_role', role_id = row[0]) }}">Update</a></td>
                    <td><a href="{{ url_for('managers.get_user', username = row[1]) }}">Delete</a></td>
                    </ul>
                </tr>

            {% endfor %}
            </div>
        </table></div>
    </form>
    </div>
{% endblock content %}